<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/shukrani.bille/eclipse-workspace/CucumberTest">
        <classes>
            <class name="com.example.ui.runner.TestRunner">
                <methods><include name="scenario"/></methods>
            </class>
        </classes>
    </test>
</suite>
